<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
</head>
<body>
    <h1>Signup Bro!!!!</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" value="enter your name">
        <input type="text" name="eml" value="enter your email">
        <input type="text" name="password" value="enter your password">
        <button type="submit"> signup </button>
    </form>
</body>
</html>